@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap");
html{
    background: #1e3799;
    color: black;
    letter-spacing: 1px;
    font-weight: 500;
}
body{
    margin: 0;
    font-family: "Noto Serif TC";
    line-height: 24px;
    font-size: 20px;
}

.header{
    background: #0c2461;
    margin: 0;
    padding: 30px 0 40px 0;
}

h1{
    text-align: center;
    margin: 0;
    color: white;
}

.content{
    width: 65%;
    margin: 0 auto;
}

.part{
    margin: 60px 0 0 0;
    box-shadow: rgba(12, 36, 97,1.0) 0 0 5px;
    border-radius: 10px;
    padding: 10px 50px 10px 50px;
    background: rgba(12, 36, 97,0.7);
    color: white;
}

.part:last-child{
    margin: 60px 0 60px 0;
}
.part:last-child li, .part:nth-last-child(2) li, .part:nth-last-child(4) li{
    margin: 20px 0 0 0;
}
mark{
    background: #3c6382;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
h4{
    font-size: 1.17em;
    background: rgb(51, 105, 185);
    display: inline-block;
}
h4 > mark{
    padding: 5px;
}
a{
    text-decoration: none;
    color: rgba(74, 105, 189,1.0);
    font-weight: 700;
}
a:hover{
    color: rgba(74, 105, 189,0.7);
}

li{
    margin: 50px 0 0 0;
}

.box{
    position: relative;
    width: 500px;
    height: 200px;
    border: 1px solid black;
    margin: 0 auto;
}

table,tr,th,td{
    border: 1px solid white;
}

.footer{
    background: #0c2461;
    text-align: center;
    padding: 25px;
    color: white;
}

@media(max-width:500px){
    body{
        line-height: 28px;
    }
    h2{
        text-align: center;
    }
    .content{
        width: 90%;
    }
    .part{
        padding: 15px;
    }
}