@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap");
html{
    background: #adffff;
    color: black;
    letter-spacing: 1px;
    font-weight: 500;
}
body{
    margin: 0;
    font-family: "Noto Serif TC";
    line-height: 24px;
    font-size: 20px;
}

.header{
    background: rgba(9, 132, 227,0.2);
    margin: 0;
    padding: 30px 0 40px 0;
}

h1{
    text-align: center;
    margin: 0;
}

.content{
    width: 65%;
    margin: 0 auto;
}

.part{
    margin: 60px 0 0 0;
    box-shadow: #0984e3 0 0 5px;
    border-radius: 10px;
    padding: 10px 50px 10px 50px;
    background: rgba(9, 132, 227,0.2);
}

.part:last-child{
    margin: 60px 0 60px 0;
}
.part:last-child li{
    margin: 20px 0 0 0;
}

a{
    text-decoration: none;
    color: #218c74;
    font-weight: 700;
}
a:hover{
    color: #33d9b2;
}

li{
    margin: 50px 0 0 0;
}