html{
    width: 100%;
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
}

.player img{
    width: 50px;
    height: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wind img{
    width: 300px;
    height: 200px;
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translateX(-20%);
    z-index: 0;
}

.sun img{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 20%;
    left: 80%;
    transform: translateX(-80%);
    z-index: 0;
}

.item img{
    width: 50px;
    height: 50px;
    background: #6c5ce7;
    position: absolute;
    top: 70%;
    left: 30%;
    transform: rotate(30deg);
    z-index: 0;
}

.textbox{
    margin: 0 auto;
    width: 98%;
    height: 30%;
    border:10px double #fdcb6e;
    position: absolute;
    bottom:0;
    display: none;
}

.text{
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 700;
    padding: 20px;
    position: absolute;
    top: 0;
}

#text1, #text2{
    display: none;
}

.exit{
    font-size: 18px;
    font-weight: 700;
    border:2px solid #fd79a8;
    padding: 10px;
    width: 50px;
    height: 20px;
    position: absolute;
    top: 2%;
    right: 2%;
    transform: translateX(2%);
    z-index: 0;
}
.exit:hover{
    background: #fd79a8;
    cursor: pointer;
}

.startpage{
    display: block;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    text-align: center;
    z-index: 3;
}

.startpage p{
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: aliceblue;
    z-index: 3;
}

.startpage p:nth-child(1){
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}
.startpage p:nth-child(2){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}